@import url('https://fonts.googleapis.com/css?family=Arvo:400,700');

body {
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-image: url('/assets/images/bg@0,3x-335d9a20e4930695283fb22ab12a18a4.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    font-family: 'Arvo', serif;
}

body .jumbotron {
  background: 0 0;
  padding-top: 48px;
  padding-bottom: 48px;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}

body .jumbotron img {
    height: 250px;
}

body .jumbotron .teaserEm {
    text-transform: uppercase;
    font-weight: 700;
}

body .teaser, body .teaserEm {
    color: #fff;
}

body .jumbotron .hours {
    background-color: rgba(255,255,255,.7);
    padding: 20px 50px;
    text-align: left;
}

body .hours {
    font-size: 18px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

body .social {
    text-align: center;
}

body .biocoop {
    text-align: left;
}
